.tracker {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
}

.tracker-bar {
    background-color: #ddd;
    height: 20px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.tracker-fill {
    background: linear-gradient(90deg, #ff437b, #d4783a);
    height: 100%;
    width: 0;
    transition: width 1s linear;
    border-radius: 25px;
}

.tracker-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #555;
}
