<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    
    <!-- Reference to CSS in static/CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    
    <!-- Google fonts (external link) -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');</style>

    <!-- Bodymovin (Lottie animation library) from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('homepage') }}" id="FP-Logo">
            <h1>FIESTA&nbsp;<img src="{{ url_for('static', filename='Images_Videos/fiesta pizza-logo.png') }}" alt="logo">&nbsp;PIZZA</h1>
        </a>
        <ul>
            <li><a href="{{ url_for('menu') }}">ORDER NOW</a></li>
            <li><a href="{{ url_for('register') }}">REGISTER</a></li>
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            <li id="cart-icon">
                <a href="#"><div id="lottie-cart" style="width: 50px; height: 50px;"></div></a>
            </li>
        </ul>
    </nav>
    
    <div class="home-page">
        <div class="video-container">
            <div class="video">
                <h2 class="pulsate">ORDER NOW</h2>
                <video id="bg-video" autoplay loop muted>
                   <source src="{{ url_for('static', filename='Images_Videos/4131833-hd_1920_1080_24fps.mp4') }}" type="video/mp4">
                </video>
            </div>
            <div>
                <button class="order-button">
                    <a href="{{ url_for('menu') }}">CLICK HERE!</a>
                </button>
            </div>
        </div>
        
        <div class="whole-container">
            <div class="about-us-container">
                <h3 class="title">FIESTA EXPERIENCE</h3>
                <div class="slideshow-container"> 
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/mural.jpeg') }}" alt="mural">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/map.png') }}" alt="map" class="move-down">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/inside.jpeg') }}" alt="restaurant" class="move-down">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/pizza.jpeg') }}" alt="pizza" class="move-down">
                    </div>
                </div>
            </div>

            
        
            <div class="contact-container">
                <h3 class="title">CONTACT US</h3>
                <div class="contact-info">
                    <div class="contact">
                        <h4>ADDRESS:</h4>
                        <p>4518 Baltimore Ave</p>
                        <p>Philadelphia, PA 19143</p>
                    </div>
                    <div class="contact">
                        <h4>PHONE:</h4>
                        <p>(215) 386-5455</p>
                    </div>
                    <div class="contact">
                        <h4>HOURS:</h4>
                        <p>9 AM - 9:30 PM (EVERY DAY EXCEPT SAT)</p>
                        <p>9 AM - 10:30 PM (SAT)</p>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
