<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
</head>
<body>
    <nav>
        {% if 'loggedin' in session %}
        <a href="{{ url_for('userhomepage') }}" id="FP-Logo">
            <h1>FIESTA&nbsp;<img src="{{ url_for('static', filename='Images_Videos/fiesta pizza-logo.png') }}" alt="logo">&nbsp;PIZZA</h1>
        </a>
        {% else %}
        <a href="{{ url_for('homepage') }}" id="FP-Logo">
            <h1>FIESTA&nbsp;<img src="{{ url_for('static', filename='Images_Videos/fiesta pizza-logo.png') }}" alt="logo">&nbsp;PIZZA</h1>
        </a>
        {% endif %}
        <ul class="navbar">
            <li><a href="{{ url_for('menu') }}">ORDER NOW</a></li>
            {% if 'loggedin' in session %}
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            {% else %}
                <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            {% endif %}
            <li id="cart-icon">
                <a href="{{ url_for('cart') }}"><div id="lottie-cart" style="width: 50px; height: 50px;"></div></a>
            </li>
        </ul>
    </nav>
    <div class="home-page">
        <div class="video-container">
            <div class="video">
                <h2 class="pulsate">ORDER NOW</h2>
                <video id="bg-video" autoplay loop muted>
                   <source src="{{ url_for('static', filename='Images_Videos/4131833-hd_1920_1080_24fps.mp4') }}" type="video/mp4">
                </video>
            </div>
            <div>
                <button class="order-button">
                    <a href="{{ url_for('menu') }}">CLICK HERE!</a>
                </button>
            </div>
        </div>
        
        <div class="whole-container">
            <div class="about-us-container">
                <h3 class="title">FIESTA EXPERIENCE</h3>
                <div class="slideshow-container"> 
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/mural.jpeg') }}" alt="mural">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/map.png') }}" alt="map" class="move-down">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/inside.jpeg') }}" alt="restaurant" class="move-down">
                    </div>
                    <div class="slides fade">
                        <img src="{{ url_for('static', filename='Images_Videos/pizza.jpeg') }}" alt="pizza" class="move-down">
                    </div>
                </div>
            </div>

            <div class="contact-container">
                <h3 class="title">CONTACT US</h3>
                <div class="contact-info">
                    <div class="contact">
                        <h4>ADDRESS:</h4>
                        <p>4518 Baltimore Ave</p>
                        <p>Philadelphia, PA 19143</p>
                    </div>
                    <div class="contact">
                        <h4>PHONE:</h4>
                        <p>(215) 386-5455</p>
                    </div>
                    <div class="contact">
                        <h4>HOURS:</h4>
                        <p>9 AM - 9:30 PM (EVERY DAY EXCEPT SAT)</p>
                        <p>9 AM - 10:30 PM (SAT)</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="restaurant-review-container">
                <div class="restaurant-review-header">
                    <h2 class="title">RESTAURANT REVIEWS</h2>
                    <h4>We value your feedback and are committed to improving your experience!</h4>
                </div>
                <div class="reviews-container">
                    {% for review in reviews %}
                        <div class="review-display">
                            <h3 class="review-header">{{ review[1] }}</h3> 
                            
                            <div class="review-title-stars">
                                <div class="star-rating-display">
                                    {% for i in range(1, 6) %}
                                        {% if i <= review[4] %}
                                            <img src="{{ url_for('static', filename='Images_Videos/icons8-star-50-3.png') }}" alt="Full Star">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='Images_Videos/icons8-star-50-2.png') }}" alt="Empty Star">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <p class="review-content">{{ review[2] }}</p>
                            <p class="review-username">Reviewed by: {{ review[3] }}</p>
                            <p class="review-date">Reviewed on: {{ review[5] }}</p>
    
                            {% if review[6] %}
                                <div class="review-photo">
                                    <img src="{{ url_for('review_photo', review_id=review[0]) }}" alt="Review Photo" class="photo">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        <script src="{{ url_for('static', filename='reviews.js') }}"></script>
        <script src="{{ url_for('static', filename='slideshow.js') }}"></script>
        <script src="{{ url_for('static', filename='cartani.js') }}"></script>
    </body>
</html>