<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PROFILE</title>
        
        <!-- Correct CSS file references -->
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/registration.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    
        <!-- Google Fonts -->
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');</style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('homepage') }}" id="FP-Logo">
                <h1>FIESTA&nbsp;<img src="{{ url_for('static', filename='Images_Videos/fiesta pizza-logo.png') }}" alt="logo">&nbsp;&nbsp;PIZZA</h1>
            </a>
            <ul>
                <li><a href="{{ url_for('menu') }}">ORDER NOW</a></li>
                <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li id="cart-icon">
                    <a href="#"><div id="lottie-cart" style="width: 50px; height: 50px;"></div></a>
                </li>
            </ul>
        </nav>
        <div>
            <img src = "/static/Images_Videos/pizza.jpeg" height="100">
            <h1>Menu List</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                <!-- so here there will be add delete, and edit buttons if you are an admin, and clicking them will have a popup that you put the name, decription, and price of the new menu item, you say the name of the item you want to delete, and you can edit the price of an existing item-->
                {% if is_admin %}
                <tr>
                    <td>
                        <button on click=""></button>
                        <button on click=""></button>
                        <button on click=""></button>
                    </td>
                </tr>
                {% endif %}

                {% for row in menu_items %}
                <tr>
                    <td>{{ row.itemID }}</td>
                    <td>{{ row.itemName }}</td>
                    <td>{{ row.itemPrice }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body> 
</html>