<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    
    <!-- Correct CSS file references -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/registration.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">

    <!-- Google Fonts -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');</style>
</head>
<body>
    <nav>
        <a href="{{ url_for('homepage') }}" id="FP-Logo">
            <h1>FIESTA&nbsp;<img src="{{ url_for('static', filename='Images_Videos/fiesta pizza-logo.png') }}" alt="logo">&nbsp;&nbsp;PIZZA</h1>
        </a>
        <ul>
            <li><a href="{{ url_for('menu') }}">ORDER NOW</a></li>
            <li><a href="{{ url_for('register') }}">REGISTER</a></li>
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            <li id="cart-icon">
                <a href="#"><div id="lottie-cart" style="width: 50px; height: 50px;"></div></a>
            </li>
        </ul>
    </nav>
<div class="form-container">
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['Username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>******</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['Email'] }}</td>
        </tr>
    </table>
    <hr>
    <form action="{{ url_for('profile') }}" method = post>
        <label for="name">Change Your Name:</label>
        <input type="text" id="name" name="UsernameChange">
        
        <button type="submit">Change UserName</button>
    </form>
    <hr>
    <form action="{{ url_for('profile') }}" method = post>
        <label for="name">Change Your Password:</label>
        <input type="text" id="name" name="PasswordChange">

        <button type="submit">Change PassWord</button>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</div>
</body>
</html>
