<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

    </head>
    <body>
        <div class = "login">
            <h1> login </h1>
            <div class="Links">
                <a href="{{url_for('login')}}">login</a>
                <a href="{{url_for('register')}}">Register</a>
            </div>
        <form action="{{url_for('login')}}" method ="post">
            <Label for="username">
                <i class="fas fa-user"></i>
            </Label>
            <input type="text" name="username" placeholder="Username" id ="username" required>
            <Label for="password">
                <i class="fas fa-lock"></i>
            </Label>
            <input type="password" name="password" placeholder="Password" id ="password" required>
            <input type="submit" value="login">
        </form>
        </div>
    </body>
</html>
